.footer {
  display: flex;
  width: 100vw;
  height: 4rem;
  position: absolute;
  margin-top: 7rem;
  /* bottom: 0px; */
  background: rgb(228 224 224);
  border: 1px solid rgb(213 211 211);
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.tag {
  margin: auto;
  text-align: center;
  font-weight: 500;
  font-size: 1.2rem;
}
