.HomePage {
  width: 80vw;
  margin: 8rem auto 0;
  padding: 1rem 1rem 0 1rem;
  min-height: 80vh;
  /* border: 1px solid black; */
}
.Main {
  /* display: flex;
  flex-wrap: wrap;
  justify-content: center; */
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  /* border: 1px solid red; */
}
.container .logoHome img {
  width: 35rem;
  border-radius: 1rem;
}
.left {
  padding: 0.5rem;
  display: flex;
  align-items: center;
}
.right {
  width: 37%;
  padding: 0.5rem;
}
.right .logoHome img {
  width: 100%;
}
.info {
  font-size: 2rem;
}
.info h1 {
  text-decoration: underline;
}
.info h1 span {
  color: orange;
}
h6 {
  width: 25rem;
  text-align: justify;
}
